{% extends 'base.html.twig' %}

{% block title %}Exclusivité - Habitat Page 3{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le design le mieux adapté à votre activité</h1>
        <p>Vous ne trouvez pas chaussure à votre pied , Faites le nous savoir !</p>
        <div class="categorieBoxContainer">
            <div class="categorieBox">
                <p><strong>Habitat</strong></p>
                <div id="myBtn" class="myBtn">Choisir une catégorie</div>
                <div class="modalContainer">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                            <br>
                            <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfolio</a>
                            <br>
                            <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                            <br>
                            <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                            <br>
                            <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                            <br>
                            <a href="{{ path('vtc') }}" class="modalCategorieA">Taxi/Vtc</a>
                            <br>
                            <a href="{{ path('liberal') }}" class="modalCategorieA">Profession libérale</a>
                            <br>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
                <a class="categorieBoxPrice" href="{{ path('contact') }}"><img src="{{ asset('asset/img/boutonPriceNew.svg') }}" class="imgprice" alt="prix" name="prix"></a>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/darna.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">DARNA</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://themes.g5plus.net/darna/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/cornerstone.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">CornerStone</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://cornerstone.qodeinteractive.com/left-menu-home/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>{#
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate"></p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href=""><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate"></p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href=""><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate"></p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href=""><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate"></p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href=""><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>#}
        </div>
        <div class="mobilBlock">
            <a href="http://themes.g5plus.net/darna/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/darna.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive"></p>
            </a>
            <a href="https://cornerstone.qodeinteractive.com/left-menu-home/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/cornerstone.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive"></p>
            </a>{#
            <a href="" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive"></p>
            </a>
            <a href="" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive"></p>
            </a>
            <a href="" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive"></p>
            </a>
            <a href="" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat3/.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive"></p>
            </a>#}
        </div>
        <div class="nextpage">
            <a href="{{ path('habitat') }}" class="submitHtml">Page 1</a>
            <a href="{{ path('habitat2') }}" class="submitHtml">Page2</a>
            <a href="{{ path('habitat3') }}" class="submitHtml">[...]</a>
        </div>
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}