{% extends 'base.html.twig' %}

{% block title %}Exclusivité - Habitat Page 2{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le design le mieux adapté à votre activité</h1>
        <p>Vous ne trouvez pas chaussure à votre pied , Faites le nous savoir !</p>
        <div class="categorieBoxContainer">
            <div class="categorieBox">
                <p><strong>Habitat</strong></p>
                <div id="myBtn" class="myBtn">Choisir une catégorie</div>
                <div class="modalContainer">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                            <br>
                            <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfolio</a>
                            <br>
                            <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                            <br>
                            <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                            <br>
                            <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                            <br>
                            <a href="{{ path('vtc') }}" class="modalCategorieA">Taxi/Vtc</a>
                            <br>
                            <a href="{{ path('liberal') }}" class="modalCategorieA">Profession libérale</a>
                            <br>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
                <a class="categorieBoxPrice" href="{{ path('contact') }}"><img src="{{ asset('asset/img/boutonPriceNew.svg') }}" class="imgprice" alt="prix" name="prix"></a>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/construction.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Construction</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://construction-pro.cmsmasters.net/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/architeck.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Architeck</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://architeck.peacefulthemes.com/construction/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/landscaping.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Landscaping</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://demo.proteusthemes.com/buildpress-landscape/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/pavolit.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Pavolit</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://chipblue.net/joomla/palovit/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/renovate.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Renovate</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://quanticalabs.com/wp_themes/renovate/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/structure.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Structure</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://structure.thememove.com/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="mobilBlock">
            <a href="https://construction-pro.cmsmasters.net/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/construction.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Construction</p>
            </a>
            <a href="http://architeck.peacefulthemes.com/construction/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/architeck.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Architeck</p>
            </a>
            <a href="https://demo.proteusthemes.com/buildpress-landscape/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/landscaping.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Landscaping</p>
            </a>
            <a href="https://chipblue.net/joomla/palovit/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/pavolit.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Pavolit</p>
            </a>
            <a href="http://quanticalabs.com/wp_themes/renovate/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/renovate.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Renovate</p>
            </a>
            <a href="https://structure.thememove.com/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/habitat2/structure.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Structure</p>
            </a>
        </div>
        <div class="nextpage">
            <a href="{{ path('habitat') }}" class="submitHtml">Page 1</a>
            <a href="{{ path('habitat2') }}" class="submitHtml">[...]</a>
            <a href="{{ path('habitat3') }}" class="submitHtml">Page 3</a>
        </div>
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}