{% extends 'base.html.twig' %}

{% block title %}Exclusivité{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le template le mieux adapté à votre activité</h1>
        <div class="categorieBox">
            <p><strong>Catégorie</strong></p>
            <div id="myBtn">Selectionnez</div>
            <div class="modalContainer">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                        <br>
                        <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfoliot</a>
                        <br>
                        <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                        <br>
                        <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                        <br>
                        <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                        <br>
                        <a href="{{ path('vtc') }}" class="modalCategorieA">Vtc</a>
                        <br>
                        <span class="close">&times;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <a href="https://ld-wp73.template-help.com/wordpress/prod_523/v1/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/BUILDERRY.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">BUILDERRY</p>
                    </span>
            </a>
            <a href="http://anpsthemes.com/constructo-new-demos/4/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO4.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">CONSTRUCTO 4</p>
                </span>
            </a>
        </div>
        <div class="imgTemplateContainer displayNone">
            <a href="http://anpsthemes.com/constructo-new-demos/8/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO8.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">CONSTRUCTO 8</p>
                </span>
            </a>
            <a href="http://anpsthemes.com/constructo-new-demos/11/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO11.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">CONSTRUCTO 11</p>
                </span>
            </a>
        </div>
        <div class="imgTemplateContainer displayNone">
            <a href="http://anpsthemes.com/constructo-new-demos/10/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO10.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">CONSTRUCTO 10</p>
                </span>
            </a>
            <a href="https://saral-demo.theironnetwork.org/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/SARAL.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">SARAL</p>
                </span>
            </a>
        </div>
        <div class="mobilBlock">
            <a href="https://ld-wp73.template-help.com/wordpress/prod_523/v1/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/BUILDERRY.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">BUILDERRY</p>
            </a>
            <a href="http://anpsthemes.com/constructo-new-demos/4/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO4.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">CONSTRUCTO 4</p>
            </a>
            <a href="http://anpsthemes.com/constructo-new-demos/8/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO8.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">CONSTRUCTO 8</p>
            </a>
            <a href="http://anpsthemes.com/constructo-new-demos/11/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO11.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">CONSTRUCTO 11</p>
            </a>
            <a href="http://anpsthemes.com/constructo-new-demos/10/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CONSTRUCTO10.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">CONSTRUCTO 10</p>
            </a>
            <a href="https://saral-demo.theironnetwork.org/" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/SARAL.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">SARAL</p>
            </a>
        </div>
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}