{% extends 'base.html.twig' %}

{% block title %}Exclusivité - Immobilier Page 3{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le design le mieux adapté à votre activité</h1>
        <p>Vous ne trouvez pas chaussure à votre pied , Faites le nous savoir !</p>
        <div class="categorieBoxContainer">
            <div class="categorieBox">
                <p><strong>Immobilier</strong></p>
                <div id="myBtn" class="myBtn">Choisir une catégorie</div>
                <div class="modalContainer">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                            <br>
                            <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfolio</a>
                            <br>
                            <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                            <br>
                            <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                            <br>
                            <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                            <br>
                            <a href="{{ path('vtc') }}" class="modalCategorieA">Taxi/Vtc</a>
                            <br>
                            <a href="{{ path('liberal') }}" class="modalCategorieA">Profession libérale</a>
                            <br>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
                <a class="categorieBoxPrice" href="{{ path('contact') }}"><img src="{{ asset('asset/img/boutonPriceNew.svg') }}" class="imgprice" alt="prix" name="prix"></a>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/houzez.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">houzez</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://default.houzez.co/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/realestate.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">realestate</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://contempothemes.com/wp-real-estate-7/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/realhome.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">realhome</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://modern.realhomes.io/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/rental1.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">rental1</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://demo1.wprentals.org/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/rental2.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">rental2</p><div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://main.wprentals.org/homepage-elementor-v5/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/residence.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">residence</p><div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://wpresidence.net/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="mobilBlock">
            <a href="https://default.houzez.co/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/houzez.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">houzez</p>
            </a>
            <a href="https://contempothemes.com/wp-real-estate-7/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/realestate.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">realestate</p>
            </a>
            <a href="https://modern.realhomes.io/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/realhome.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">realhome</p>
            </a>
            <a href="https://demo1.wprentals.org/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/rental1.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">rental1</p>
            </a>
            <a href="https://main.wprentals.org/homepage-elementor-v5/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/rental2.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">rental2</p>
            </a>
            <a href="https://wpresidence.net/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/immo3/residence.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">residence</p>
            </a>
        </div>
        <div class="nextpage">
            <a href="{{ path('immobilier') }}" class="submitHtml">Page 1</a>
            <a href="{{ path('immobilier2') }}" class="submitHtml">Page 2</a>
            <a href="{{ path('immobilier3') }}" class="submitHtml">[...]</a>
        </div>
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}