{% extends 'base.html.twig' %}

{% block title %}Exclusivité - Immobilier{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le template le mieux adapté à votre activité</h1>
        <div class="categorieBox">
            <p><strong>Catégorie</strong></p>
            <div id="myBtn"></div>
            <div class="modalContainer">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                        <br>
                        <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfolio</a>
                        <br>
                        <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                        <br>
                        <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                        <br>
                        <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                        <br>
                        <a href="{{ path('vtc') }}" class="modalCategorieA">Vtc</a>
                        <br>
                        <span class="close">&times;</span>
                    </div>
                </div>
            </div>
            <a class="categorieBoxPrice" href="{{ path('contactForm') }}"><img src="{{ asset('asset/img/boutonPriceNew.svg') }}" class="imgprice" alt="prix" name="prix"></a>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME1.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">NA HOME 1 </p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://demo1.wpopal.com/na/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME8.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">NA HOME 8 </p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://demo1.wpopal.com/na/home-8/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME9.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">NA HOME 9</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://demo1.wpopal.com/na/home-9/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME10.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">NA HOME 10</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://demo1.wpopal.com/na/home-10/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/REALPLACEONE.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">REAL PLACE ONE</p><div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://rp.inspirydemos.com/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/RTTHEME15.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">RT THEME 15</p><div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://rttheme15.templatemints.com/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="mobilBlock">
            <a href="http://demo1.wpopal.com/na/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME1.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">NA HOME 1</p>
            </a>
            <a href="http://demo1.wpopal.com/na/home-8/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME8.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">NA HOME 8</p>
            </a>
            <a href="http://demo1.wpopal.com/na/home-9/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME9.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">NA HOME 9</p>
            </a>
            <a href="http://demo1.wpopal.com/na/home-10/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/NAHOME10.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">NA HOME 10</p>
            </a>
            <a href="https://rp.inspirydemos.com/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/REALPLACEONE.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">REAL PLACE ONE</p>
            </a>
            <a href="http://rttheme15.templatemints.com/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/RTTHEME15.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">RT THEME 15</p>
            </a>
        </div>
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}