{% extends 'base.html.twig' %}

{% block title %}Exclusivité - Libérale{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le design le mieux adapté à votre activité</h1>
        <p>Vous ne trouvez pas chaussure à votre pied , Faites le nous savoir !</p>
        <div class="categorieBoxContainer">
            <div class="categorieBox">
                <p><strong>Profession Libérale</strong></p>
                <div id="myBtn" class="myBtn">Choisir une catégorie</div>
                <div class="modalContainer">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                            <br>
                            <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfolio</a>
                            <br>
                            <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                            <br>
                            <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                            <br>
                            <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                            <br>
                            <a href="{{ path('vtc') }}" class="modalCategorieA">Taxi/Vtc</a>
                            <br>
                            <a href="{{ path('liberal') }}" class="modalCategorieA">Profession libérale</a>
                            <br>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
                <a class="categorieBoxPrice" href="{{ path('contact') }}"><img src="{{ asset('asset/img/boutonPriceNew.svg') }}" class="imgprice" alt="prix" name="prix"></a>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/butcher.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Boucher</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://www.elegantthemes.com/layouts/business/butcher-landing-page/live-demo"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/coach_perso.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Personal Trainer</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://www.elegantthemes.com/layouts/health-fitness/personal-trainer-landing-page/live-demo"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/decoration.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Home Décoration</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://www.elegantthemes.com/layouts/art-design/home-improvement-landing-page/live-demo"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/mecano.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Mécano</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://www.elegantthemes.com/layouts/business/mechanic-landing-page/live-demo"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/psychologue.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Psychologue</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://www.elegantthemes.com/layouts/health-fitness/therapist-landing-page/live-demo"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/spa.png') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Soin du corps</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://www.elegantthemes.com/layouts/business/day-spa-landing-page/live-demo"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="mobilBlock">
            <a href="https://www.elegantthemes.com/layouts/business/butcher-landing-page/live-demo" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/butcher.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Boucher</p>
            </a>
            <a href="https://www.elegantthemes.com/layouts/health-fitness/personal-trainer-landing-page/live-demo" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/coach_perso.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Personal Trainer</p>
            </a>
            <a href="https://www.elegantthemes.com/layouts/art-design/home-improvement-landing-page/live-demo" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/decoration.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Home Décoration</p>
            </a>
            <a href="https://www.elegantthemes.com/layouts/business/mechanic-landing-page/live-demo" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/mecano.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Mécano</p>
            </a>
            <a href="https://www.elegantthemes.com/layouts/health-fitness/therapist-landing-page/live-demo" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/psychologue.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Psychologue</p>
            </a>
            <a href="https://www.elegantthemes.com/layouts/business/day-spa-landing-page/live-demo" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/prof_lib/spa.png') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">Soin du corps</p>
            </a>
        </div>
        PAGE 1
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}