{% extends 'base.html.twig' %}

{% block title %}Exclusivité - Restaurant{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le template le mieux adapté à votre activité</h1>
        <div class="categorieBox">
            <p><strong>Catégorie</strong></p>
            <div id="myBtn"></div>
            <div class="modalContainer">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                        <br>
                        <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfoliot</a>
                        <br>
                        <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                        <br>
                        <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                        <br>
                        <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                        <br>
                        <a href="{{ path('vtc') }}" class="modalCategorieA">Vtc</a>
                        <br>
                        <span class="close">&times;</span>
                    </div>
                </div>
            </div>
            <a class="categorieBoxPrice" href="{{ path('contactForm') }}"><img src="{{ asset('asset/img/priceBB.svg') }}" class="imgprice" alt="prix" name="prix"></a>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/BAR.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">LAURENT BAR</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://laurent.qodeinteractive.com/bar-home/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/FOODICA.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">FOODICA</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://demo.wpzoom.com/?theme=foodica"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/ISLE.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">ISLE</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://themeisle.com/demo/?theme=Restaurant#"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/MAINHOME.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">LAURENT MAIN HOME</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://laurent.qodeinteractive.com/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/RESTAURANT.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">LAURENT RESTAURANT</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://laurent.qodeinteractive.com/restaurant-home/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/WINE&FOOD.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">LAURENT WINE&FOOD</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contactForm') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://laurent.qodeinteractive.com/split-screen-showcase/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="mobilBlock">
            <a href="https://laurent.qodeinteractive.com/bar-home/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/BAR.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">LAURENT BAR</p>
            </a>
            <a href="https://demo.wpzoom.com/?theme=foodica" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/FOODICA.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">FOODICA</p>
            </a>
            <a href="https://themeisle.com/demo/?theme=Restaurant#" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/ISLE.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">ISLE</p>
            </a>
            <a href="https://laurent.qodeinteractive.com/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/MAINHOME.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">LAURENT MAIN HOME</p>
            </a>
            <a href="https://laurent.qodeinteractive.com/restaurant-home/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/RESTAURANT.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">HLAURENT RESTAURANT</p>
            </a>
            <a href="https://laurent.qodeinteractive.com/split-screen-showcase/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/WINE&FOOD.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">LAURENT WINE&FOOD</p>
            </a>
        </div>
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}