{% extends 'base.html.twig' %}

{% block title %}Exclusivité{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
        <main class="templatePage">
            <h1 class="titleTemplate">Choisissez le template le mieux adapté à votre activité</h1>
            <div class="categorieBox">
                <p><strong>Catégorie</strong></p>
                <div id="myBtn">Selectionnez</div>
                <div class="modalContainer">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <a class="modalCategorieA">E-commerce</a>
                            <br>
                            <a class="modalCategorieA">Portfoliot</a>
                            <br>
                            <a class="modalCategorieA">Restaurant</a>
                            <br>
                            <a class="modalCategorieA">Immo</a>
                            <br>
                            <a class="modalCategorieA">Habitat</a>
                            <br>
                            <a class="modalCategorieA">Vtc</a>
                            <br>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imgTemplateContainer">
                <div class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/e-commerce.png') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">E-commerce</p>
                </span>
                </div>
                <div class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/portfolio.png') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Portfolio</p>
                </span>
                </div>
            </div>
            <div class="imgTemplateContainer">
                <div class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/restaurant.png') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Restaurant</p>
                </span>
                </div>
                <div class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/immobilier.png') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Immobilier</p>
                </span>
                </div>
            </div>
            <div class="imgTemplateContainer">
                <div class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/habitat.png') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Habitat</p>
                </span>
                </div>
                <div class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/Vtc.png') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Vtc</p>
                </span>
                </div>
            </div>
        </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}