{% extends 'base.html.twig' %}

{% block title %}Exclusivité{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
        <main class="templatePage">
            <h1 class="titleTemplate">Choisissez votre site en ligne selon votre activité</h1>
            <h3 class="soustitleTemplate">Qu'il s'agisse de présenter votre activité, vos services ou vendre vos produits, votre projet mérite la plus grande attention à chaque étape de sa réalisation - livrable en 72h</h3>
            <div class="categorieBoxContainer">
                <div class="categorieBox">
                    <p><strong>Catégorie</strong></p>
                    <div id="myBtn"></div>
                    <div class="modalContainer">
                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                                <br>
                                <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfoliot</a>
                                <br>
                                <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                                <br>
                                <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                                <br>
                                <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                                <br>
                                <a href="{{ path('vtc') }}" class="modalCategorieA">Taxi/Vtc</a>
                                <br>
                                <span class="close">&times;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imgTemplateContainer displayNone">
                <a href="{{ path('ecommerce') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselEcommerce.jpg') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">E-commerce</p>
                    </span>
                </a>
                <a href="{{ path('portfolio') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselPortfoliot.jpg') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Portfolio</p>
                </span>
                </a>
            </div>
            <div class="imgTemplateContainer displayNone">
                <a href="{{ path('restaurant') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselRestaurant.jpg') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Restaurant</p>
                </span>
                </a>
                <a href="{{ path('immobilier') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouseilImmo.jpg') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Immobilier</p>
                </span>
                </a>
            </div>
            <div class="imgTemplateContainer displayNone">
                <a href="{{ path('habitat') }}"  class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselHabitat.jpg') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Habitat</p>
                </span>
                </a>
                <a href="{{ path('vtc') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselVtc.jpg') }}" alt="illustration template" title="illustration template">
                    <span class="hoverImgTemplate">
                    <p class="pImgTemplate">Vtc</p>
                </span>
                </a>
            </div>
            <div class="mobilBlock">
                <a href="{{ path('ecommerce') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselEcommerce.jpg') }}" alt="illustration template" title="illustration template">
                    <p class="pImgTemplateResponsive">E-commerce</p>
                </a>
                <a href="{{ path('portfolio') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselPortfoliot.jpg') }}" alt="illustration template" title="illustration template">
                    <p class="pImgTemplateResponsive">Portfolio</p>
                </a>
                <a href="{{ path('restaurant') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselRestaurant.jpg') }}" alt="illustration template" title="illustration template">
                    <p class="pImgTemplateResponsive">Restaurant</p>
                </a>
                <a href="{{ path('immobilier') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouseilImmo.jpg') }}" alt="illustration template" title="illustration template">
                    <p class="pImgTemplateResponsive">Immobilier</p>
                </a>
                <a href="{{ path('habitat') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselHabitat.jpg') }}" alt="illustration template" title="illustration template">
                    <p class="pImgTemplateResponsive">Habitat</p>
                </a>
                <a href="{{ path('vtc') }}" class="templateContainer">
                    <img class="imgTemplate" src="{{ asset('asset/img/carouselVtc.jpg') }}" alt="illustration template" title="illustration template">
                    <p class="pImgTemplateResponsive">Vtc</p>
                </a>
            </div>
        </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}