{% extends 'base.html.twig' %}

{% block title %}Exclusivité - Vtc{% endblock %}
{% block body %}

    {% include 'commons/_headerLittle.html.twig' %}
    <main class="templatePage">
        <h1 class="titleTemplate">Choisissez le design le mieux adapté à votre activité</h1>
        <p>Vous ne trouvez pas chaussure à votre pied , Faites le nous savoir !</p>
        <div class="categorieBoxContainer">
            <div class="categorieBox">
                <p><strong>Catégorie</strong></p>
                <div id="myBtn" class="myBtn">Choisir une catégorie</div>
                <div class="modalContainer">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <a href="{{ path('ecommerce') }}" class="modalCategorieA">E-commerce</a>
                            <br>
                            <a href="{{ path('portfolio') }}" class="modalCategorieA">Portfolio</a>
                            <br>
                            <a href="{{ path('restaurant') }}" class="modalCategorieA">Restaurant</a>
                            <br>
                            <a href="{{ path('immobilier') }}" class="modalCategorieA">Immo</a>
                            <br>
                            <a href="{{ path('habitat') }}" class="modalCategorieA">Habitat</a>
                            <br>
                            <a href="{{ path('vtc') }}" class="modalCategorieA">Taxi/Vtc</a>
                            <br>
                            {#<a href="{{ path('liberal') }}" class="modalCategorieA">Profession libérale</a>
                            <br>#}
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
                <a class="categorieBoxPrice" href="{{ path('contact') }}"><img src="{{ asset('asset/img/boutonPriceNew.svg') }}" class="imgprice" alt="prix" name="prix"></a>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CITYCAB.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">CITYCAB</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil"  target="_blank" href="http://demo.spyropress.com/themeforest/citycabs/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/GETCAB.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">GETCAB</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank"  href="http://getcab.ancorathemes.com/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/HOME.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">HOME</p>
                     <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank"  href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank"  href="http://themes.quitenicestuff2.com/chauffeurwp/demo3/home-iii/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/KIMAROTEC.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">KIMAROTEC</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe"  target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="http://wpdemo.kimarotec.net/vtc-theme/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="imgTemplateContainer displayNone">
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/LIMOGUYS.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">LIMOGUYS</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe"  target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil"  target="_blank"  href="http://demo.earththeme.com/limoguys/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
            <div class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/LIMOKING.jpg') }}" alt="illustration template" title="illustration template">
                <span class="hoverImgTemplate">
                    <p class="pImgTemplate">LIMOKING</p>
                    <div class="TemplateImgButtonHoverContainer">
                        <a class="enveloppe" target="_blank" href="{{ path('contact') }}"><p class="hoverTemplateP">Choisir</p></a>
                        <a class="oeil" target="_blank" href="https://demo.goodlayers.com/limoking/"><p class="hoverTemplateP">Visualier</p></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="mobilBlock">
            <a href="http://demo.spyropress.com/themeforest/citycabs/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/CITYCAB.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">CITYCAB</p>
            </a>
            <a href="http://getcab.ancorathemes.com/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/GETCAB.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">GETCAB</p>
            </a>
            <a href="http://themes.quitenicestuff2.com/chauffeurwp/demo3/home-iii/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/HOME.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">HOME</p>
            </a>
            <a href="http://wpdemo.kimarotec.net/vtc-theme/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/KIMAROTEC.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">KIMAROTEC</p>
            </a>
            <a href="http://demo.earththeme.com/limoguys/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/LIMOGUYS.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">LIMOGUYS</p>
            </a>
            <a href="https://demo.goodlayers.com/limoking/" target="_blank" class="templateContainer">
                <img class="imgTemplate" src="{{ asset('asset/img/LIMOKING.jpg') }}" alt="illustration template" title="illustration template">
                <p class="pImgTemplateResponsive">LIMOKING</p>
            </a>
        </div>
    </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}