{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="description" content="Découvrez nos articles sur le numérique et consultez nos tips et conseils à la pointe de l'actualité.">
    <meta name="keywords" content="Blog, articles, actualités, journalisme, journalistes, numérique, digital, informations, conseils, tips.">
{% endblock %}
{% block title %}Blog{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% include 'commons/_headerLittle.html.twig' %}
    <main class="blogPage">
        {% if is_granted("ROLE_ADMIN") %}
        <div class="buttonCreateBlogResponsive">
            <a class="aEffect" href="{{ path('blog_admin') }}">Créer un article</a>
        </div>
            <br>
            <br>
        {% endif %}
        {#<form action="{{ path('recherche_categories') }}" class="formBlogCategorie">
            <label for="categories">Catégories</label>
            <br>
            <select class="choiceTypeBlog" name="categories" id="pet-select">
                <option  value="">Choisir une catégorie</option>
                {% for categories in categorie %}
                <option value="{{ categories.libelle }}">{{ categories.libelle }}</option>
                {% endfor %}
                {% set newArray = [] %}
                {% for categories in blog %}
                    {% if categories not in newArray %}
                        {{categories.categories}}
                        {% set newArray = newArray|merge([]) %}
                    {% endif %}
                {% endfor %}
            </select>
            <input class="inputBlog" type="submit" value="rechercher">
        </form>#}
       {% if blog %}
            {% for article in blog %}
            {#{% if article.id is divisible by (2) %}#}
                {% if loop.index is odd %}
                <div class="blogFor displayNone">
                    <div class="blogForArticleFor">
                        <div>
                            <h3 class="blogTitle">{{ article.title }}</h3>
                        </div>
                        <div class="articleBlog">
                            <span>{{ article.chapeau|u.truncate(255,'...')|raw }}</span>
                        <div class="linkBlogId">
                            <a class="linkBlogIdTxt" data-aos-delay="1250" data-aos="zoom-out" href="{{ path('details_article',{'id':article.id}) }}">VOIR PLUS</a>
                            <img class="linkBlogIdColorOne" data-aos="fade-left" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element15.svg') }}">
                            <img class="linkBlogIdColorTwo" data-aos="fade-right" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element5.svg') }}">
                        </div>
                        </div>
                    </div>
                    <div class="blogForTitle">
                        <img class="blogPicture" alt="article illustration" src="{{ asset('upload_directory/' ~ article.picture) }}">
                    </div>
                </div>
               {% else %}
                <div class="blogFor displayNone">
                    <div class="blogForTitle" >
                        <img class="blogPicture" alt="article illustration" src="{{ asset('upload_directory/' ~ article.picture) }}">
                    </div>
                    <div class="blogForArticleFor">
                        <div>
                            <h3 class="blogTitle">{{ article.title }}</h3>
                        </div>
                        <div class="articleBlog">
                            <span>{{ article.chapeau|u.truncate(255,'...')|raw }}</span>
                        <div class="linkBlogId">
                            <a class="linkBlogIdTxt" data-aos-delay="1250" data-aos="zoom-out" href="{{ path('details_article',{'id':article.id}) }}">VOIR PLUS</a>
                            <img class="linkBlogIdColorOne" data-aos="fade-left" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element15.svg') }}">
                            <img class="linkBlogIdColorTwoBis" data-aos="fade-right" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element5.svg') }}">
                        </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="mobilBlock">
                    <h3 class="blogTitle">{{ article.title }}</h3>
                    <div class="blogForTitle" >
                        <img class="blogPicture" alt="article illustration" src="{{ asset('upload_directory/' ~ article.picture) }}">
                    </div>
                    <span class="textBlogResponsive">{{ article.chapeau|u.truncate(255,'...')|raw }}</span>
                    <div class="linkBlogId">
                        <a class="linkBlogIdTxt" data-aos-delay="1250" data-aos="zoom-out" href="{{ path('details_article',{'id':article.id}) }}">VOIR PLUS</a>
                        <img class="linkBlogIdColorOne" data-aos="fade-left" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element15.svg') }}">
                        <img class="linkBlogIdColorTwoBis" data-aos="fade-right" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element5.svg') }}">
                    </div>
                </div>
                <div class="adminButtonBlog">
                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="aEffect" href="{{ path('blogDeleteId', {'id' : article.id}) }}">Supprimer</a>
                    <a class="aEffect" href="{{ path('blogUpdateId', {'id' : article.id}) }}">Modifier</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h3 class="blogTitle">Désolé l'article n'existe pas !</h3>
            <div class="linkBlogId displayNone">
                <a class="linkBlogIdTxt" data-aos-delay="100" data-aos="zoom-out" href="{{ path('blog') }}">Retour</a>
                <img class="linkBlogIdColorOne" data-aos="fade-up" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element15.svg') }}">
                <img class="linkBlogIdColorTwoBis" data-aos="fade-down" data-aos-duration="1450" alt="color animation" src="{{ asset('asset/img/element5.svg') }}">
            </div>
            <div class="linkBlogId mobilBlock">
                <a class="linkBlogIdTxtResponsive" href="{{ path('blog') }}">Retour</a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
       {% endif %}
    </main>
    {% include 'commons/_footer.html.twig' %}
{% endblock %}