{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% include 'commons/_headerLittle.html.twig' %}
        <main class="contactPage">
            <div>
                <h1 class="titleContactH1">Contactez-nous</h1>
                <h2 class="titleContactH2">Un de nos expert vous répondra dans les plus brefs délais</h2>
            </div>
            {{ form_start(contactForm) }}
            <div class="errorFormMessage">
                {{ form_errors(contactForm.name) }}
                {{ form_errors(contactForm.phone) }}
                {{ form_errors(contactForm.mail) }}
                {{ form_errors(contactForm.subject) }}
                {{ form_errors(contactForm.message) }}
            </div>
            <div class="formContactParent">
                <div class="formContactChild1">
                    <div class="wrap-input2">
                        {{ form_label(contactForm.name) }}
                        <br>
                        {{ form_widget(contactForm.name, { 'attr': {'class': 'input2'} }) }}
                        <span class="focus-input2" data-placeholder="NAME"></span>
                    </div>
                    <div class="wrap-input2">
                        {{ form_label(contactForm.phone) }}
                        <br>
                        {{ form_widget(contactForm.phone, { 'attr': {'class': 'input2'} }) }}
                        <span class="focus-input2" data-placeholder="PHONE"></span>
                    </div>
                    <div class="wrap-input2">
                        {{ form_label(contactForm.mail) }}
                        <br>
                        {{ form_widget(contactForm.mail, { 'attr': {'class': 'input2'} }) }}
                        <span class="focus-input2" data-placeholder="EMAIL"></span>
                    </div>
                </div>
                <div class="formContactChild2">
                    <div class="wrap-input2">
                        {{ form_label(contactForm.subject) }}
                        <br>
                        {{ form_widget(contactForm.subject, { 'attr': {'class': 'input2'} }) }}
                        <span class="focus-input2" data-placeholder="SUBJECT"></span>
                    </div>
                    <div class="wrap-input2">
                        {{ form_label(contactForm.message) }}
                        <br>
                        {{ form_widget(contactForm.message, { 'attr': {'class': 'input2'} }) }}
                        <span class="focus-input2" data-placeholder="MESSAGE"></span>
                    </div>
                    <div class="positionSubmitFormContactResponsive">
                        {{ form_label(contactForm.envoyer) }}
                        {{ form_widget(contactForm.envoyer, { 'attr': {'class': 'submitForm'} }) }}
                    </div>
                </div>
            </div>
            {{ form_end(contactForm) }}
        </main>
    {% include 'commons/_footer.html.twig' %}

{% endblock %}