{% extends 'base.html.twig' %}
{% block title %}Zone Admin{% endblock %}
{% block body %}
    <main class="contact">
        <div>
        <h1>On nous contact</h1>
        <a class="aEffect" href="{{ path ('home') }}">Accueil</a>
        </div>
        <div class="adminFront">
            {% for message in contact %}
            <div class="adminContactFor paddingLogin">
                <h3>{{ message.name }}</h3>
                <div>
                    <p>date d'envois : {{ message.date|date('d m Y') }}</p>
                    <p>eMail : {{ message.mail }}</p>
                    <p>tel : {{ message.phone }}</p>
                    <p>sujet:
                        <br>
                        {{ message.subject }}
                    </p>
                    <p>
                        message:
                        <br>
                        {{ message.message }}
                    </p>
                </div>
                <div>
                    <a class="aEffect" href="{{ path('contact_delete_id', {'id' : message.id}) }}">supprimer</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}