{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="description" content="Passion, écoute et engagement sont les valeurs de notre agence de marketing digital. Nous vous dévoilons davantage notre agence ! Qui sommes nous ? Découvrez l’équipe dropship resource et leurs compétences.">
    <meta name="keywords" content="agence, communication, équipe, agency, valeurs, histoire, logo, marketing, travail, spécialité, pluridisciplinarité, efforts, engagement, écoute, passion, écologie, environnement, dropship resource.  ">
{% endblock %}
{% block title %}Agence{% endblock %}
{% block body %}
    {% include 'commons/_headerLittle.html.twig' %}
    <main class="agencePage">
        <section class="storyDR">
            <div class="storyDR1">
                <h1 class="titleAgenceStoryDr">L'histoire de Dropship Resource</h1>
                <p class="pAgenceResponsive">
                    Après plus d'un an d'investissement dans le monde digital, Sebastian crée sa propre agence digitale.
                    <br>
                    <br>
                    Pédagogue, dynamique et volontaire, un brin têtu et au relationnel exacerbé, il décide de regrouper une équipe pour amener son projet au plus haut niveau.
                    <br>
                    <br>
                    Des objectifs clairs, des collaborateurs aux compétences indiscutables et une vision poussée des besoins réels du marché d'aujourd'hui, sont les caractéristiques de ce projet de vie.
                    <br>
                    <br>
                    Similaire à une start-up, l'agence se développe rapidement, non seulement en Nouvelle-Aquitaine, mais aussi à l'international grâce à une équipe multilingue.
                </p>
            </div>
            <div class="storyDR2">
                <img src="{{ asset('asset/img/logo.svg') }}" class="storyDR2img" alt="logoDR" title="logoDR">
            </div>
        </section>
        <section class="sectionValeursAgence displayNone">
                <h1 class="titleAgenceStoryDr">Nos valeurs</h1>
            <div class="valeursAgenceOrganisation">
                <div class="valeursAgenceOrganisationChild">
                    <img src="{{ asset('asset/img/passion.svg') }}" class="logoValeursAgence" alt="Passion Dropship Resource" title="Passion Dropship Resource">
                    <h2>Passion</h2>
                    <p class="pValeursAgence">
                        Venant d'horizon divers, nous formons une équipe unie autour d'une même idée : la passion du digital.
                    </p>
                </div>
                <div class="valeursAgenceOrganisationChild">
                    <img src="{{ asset('asset/img/ecoute.svg') }}" class="logoValeursAgence" alt="Ecoute Dropship Resource" title="Ecoute Dropship Resource">
                    <h2>Ecoute</h2>
                    <p class="pValeursAgence">
                        La compréhension des problématiques de nos clients est essentielle pour délivrer une prestation de qualité clef en main.
                        <br>
                        Pour nous l'écoute est autant une manière d'être que de faire.
                    </p>
                </div>
                <div class="valeursAgenceOrganisationChild">
                    <img src="{{ asset('asset/img/engagement.svg') }}" class="logoValeursAgence" alt="Engagement Dropship Resource" title="Engagement DropshipDropship Resource">
                    <h2>Engagement</h2>
                    <p class="pValeursAgence">
                        Nous mettons tout notre cœur, notre expertise et nos compétences dans la réussite des projets de nos clients.
                        <br>
                        Chaque projet est une occasion de nous dépasser, de créer quelque chose de plus grand, de plus beau et de plus innovant.
                    </p>
                </div>
            </div>
        </section>
        <section class="sectionValeursAgence mobilBlock">
            <h1 class="titleAgenceStoryDr">Nos valeurs</h1>
                <div class="valeursAgenceOrganisationChild">
                    <img src="{{ asset('asset/img/passion.svg') }}" class="logoValeursAgence" alt="Passion Dropship Resource" title="Passion Dropship Resource">
                    <h2>Passion</h2>
                    <p class="pValeursAgence">
                        Venant d'horizon divers, nous formons une équipe unie autour d'une même idée : la passion du digital.
                    </p>
                </div>
                <div class="valeursAgenceOrganisationChild">
                    <img src="{{ asset('asset/img/ecoute.svg') }}" class="logoValeursAgence" alt="Ecoute Dropship Resource" title="Ecoute Dropship Resource">
                    <h2>Ecoute</h2>
                    <p class="pValeursAgence">
                        La compréhension des problématiques de nos clients est essentielle pour délivrer une prestation de qualité clef en main.
                        <br>
                        Pour nous l'écoute est autant une manière d'être que de faire.
                    </p>
                </div>
                <div class="valeursAgenceOrganisationChild">
                    <img src="{{ asset('asset/img/engagement.svg') }}" class="logoValeursAgence" alt="Engagement Dropship Resource" title="Engagement DropshipDropship Resource">
                    <h2>Engagement</h2>
                    <p class="pValeursAgence">
                        Nous mettons tout notre cœur, notre expertise et nos compétences dans la réussite des projets de nos clients.
                        <br>
                        Chaque projet est une occasion de nous dépasser, de créer quelque chose de plus grand, de plus beau et de plus innovant.
                    </p>
                </div>
        </section>
        <section class="teamDR">
             <h1 class="titleAgenceStoryDr">L'équipe Dropship Resource</h1>
            <p class="paragrapheL">Actuellement l'équipe se compose de 2 personnes dont le Président. Chacun possède des
            <br>
            compétences et des connaissances spécifiques mais aussi transversales, ce qui leur
            <br>
            confère une pluridisciplinarité essentielle à l'esprit "Dropship Resource"
            </p>
            <div class="teamLead">
                <div class="teamCarte">
                    <div class="container">
                        <img src="{{ asset('asset/img/sebastianR.png') }}" class="imgCarte" alt="photoTeam" title="photoTeam">
                        <div class="overlay">
                            <div class="text">
                                Jeune entrepreneur expert en web marketing et coach mindset. Il orchestre les leviers nécessaires pour développer la croissance de l'entreprise. Il porte une vision globale de la stratégie de l'entreprise et entraîne les différents experts dans sa réalisation. Il est en capacité d'intervenir dans toutes les tâches données à ses collaborateurs.
                            </div>
                            <div class="element1"></div>
                            <div class="element2"></div>
                            <div class="element3"></div>
                            <div class="element4"></div>
                            <div class="element5"></div>
                            <div class="element6"></div>
                        </div>
                    </div>
                    <div class="nomprenomgrade">
                        <strong>Sebastian Rondon,</strong>
                        <br>
                        Notre président
                    </div>
                </div>
            </div>
            <div class="teamDir">
                <div class="teamCarte">
                    <div class="container">
                        <img src="{{ asset('asset/img/victorR.png') }}" class="imgCarte" alt="photoTeam" title="photoTeam">
                        <div class="overlay">
                            <div class="text">
                                Manager dans l'âme, il aime être au plus proche de ses collaborateurs et créer une ambiance de travail favorable à tous.
                            </div>
                            <div class="element1"></div>
                            <div class="element2"></div>
                            <div class="element3"></div>
                            <div class="element4"></div>
                            <div class="element5"></div>
                            <div class="element6"></div>
                        </div>
                    </div>
                    <div class="nomprenomgrade">
                        <strong>Victor Rondon,</strong>
                        <br>
                        Chef de projet
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include 'commons/_footer.html.twig' %}
{% endblock %}